<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>cls</Title>
			<Author>Chocoreto Stonus</Author>
		    <Shortcut>cls</Shortcut>
        </Header>
        <Snippet>
            <Code Language="CSharp">
                <![CDATA[MyClass cls_ = new MyClass();]]>
            </Code>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>